footer p {
	display: inline;
	text-align: center;

}

footer {

	bottom: 0%;
	text-align: center;

	}

header, 
footer {
	width: 1113px;
	height: 10%;
	margin-left: -10px;
	margin-top: -21px;
	margin-right:-50px;
	background-color: black;
	color: white;
	position: absolute;
}

header h1 {
	text-align: center;
	margin-top: 20px;
}
div img {
	margin-top: 55px;
	width: 1110px;
	height: 670px;
	margin-left: -10px;
	

}